<!DOCTYPE html>
<html lang="en">
<head>
  <title>Neighbourhood Flower Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img style="height:40px; margin-top:-10px" src="images/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#top">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Contact</a></li>
      </ul>
      <form method="POST" action="/tracking" class="trackingForm">
        {{#email}}
          <input type="text" hidden="true" value="{{email}}" name="hiddenEmail">
        {{/email}}
        <ul class="nav navbar-nav navbar-right">
          <li><input type="text" name="trackingNumber" class="form-control" style="padding-bottom:-20px; margin-top:8px" size="12" placeholder="#123456789"></li>
          <li><button class="btn-link tracking-button" type="submit" style="padding-top:13px"><span class="glyphicon glyphicon-shopping-cart"></span> Track your order</button></li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<a name="top"></a>
{{#messages}}
<div class="container"> 
  <div class="panel panel-success" style="margin-bottom:0px;">
    <div class="panel-heading">
      {{messages}}
    </div>
  </div>
</div>
{{/messages}}
{{#error}}
<div class="container"> 
  <div class="panel panel-danger" style="margin-bottom:0px;">
    <div class="panel-heading">
      {{error}}
    </div>
  </div>
</div>
{{/error}}

<div class="jumbotron" style="background-color:none !important">
  <div class="container text-center">
    <img style="height:160px;" src="images/main-logo.png">     
    <h4>A rose amongst thorns</h4>
  </div>
</div>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <a name="products"></a>
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Painted whites</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Punchy pinks</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Tie die surprise</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purple haze</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Roses</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">OUT OF STOCK</div>
        <div class="panel-body"><img src="images/flowers6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Black eyed Susans</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <form class="form-inline" id="">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="submit" class="btn btn-danger">Join our mailing list</button>
  </form><br>
  <p>Copyright Neighbourhood Flower Shop 2016</p>  
</footer>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comments, issues, just want to say hi? Drop us a line here</h4>
      </div>
      <form method="POST" action="/feedback" class="feedbackForm">
        <div class="modal-body">
          <div class="row">
            <div class="form-group"> 
              <label for="email" class="col-sm-2 control-label">
                Email
              </label> 
              <div class="col-sm-10"> 
                <input class="form-control" id="email" name="email" placeholder="Email"> 
              </div> 
            </div>
            <div class="form-group"> 
              <label for="feedbackBody" class="col-sm-2 control-label">
                Feedback
              </label> 
              <div class="col-sm-10"> 
                <textarea class="form-control" name="feedbackBody" id="feedbackBody"></textarea>
              </div> 
            </div> 
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-default feedback-button" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


  <script>
    $('button.tracking-button').click( function() {
        $('form.trackingForm').submit();
    });
    $('button.feedback-button').click( function() {
        $('form.feedbackForm').submit();
    });
  </script>
</body>
</html>