******************** SECURE TRANSMISSION ********************<br><br>
Thank you again for helping us to unlock our agent's phone - hopefully we are one stage closer to bringing them home.<br><br>
Once unlocked, our technical staff found only one contact on the phone:<br>
<img src="/images/imgs/aa-contact.png" height="400px"><br><br>And an unusual background image: <br>
<img src="/images/imgs/aa-background.PNG" height="400px">
<br><br>At this stage, an exposed agent would be expected to establish a dead drop to leave mission critical documents so we believe the contact and image is a link to an address. Give us a postcode and we'll do the rest. Please be aware that time is running out and we do not have unlimited resources - there are only so many sites we can investigate thoroughly. 
<br><br>Use this link to get back to <a href="{{url}}ref={{urlRef}}">the NFS homepage</a>. As before, enter a postcode into the order tracking box and leave us to inspect the location.<br>

Neighbourhood Flower Shop